{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cover.css') }}">
{% endblock %}

{% block body %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include 'home/header.html.twig' with {'membros': 'active'} %}
        <main role="main" class="inner cover">  
            <h1 class="cover-heading">Membros</h1>
            <br>

            <div class="accordion" id="accordionExample">
                {% for cla in clas %}
                    <div class="card">
                        <div class="card-header" id="heading{{ cla.nome }}">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ cla.nome }}" aria-expanded="false" aria-controls="collapse{{ cla.nome }}">
                                    {{ cla.nome }}
                                </button>
                            </h2>
                        </div>

                        <div id="collapse{{ cla.nome }}" class="collapse" aria-labelledby="heading{{ cla.nome }}" data-parent="#accordionExample">
                            <div class="card-body bg-dark">
                                <ul>
                                    {% for membro in cla.membros %}
                                        <li>{{ membro.nome }}</li>
                                        {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}               
            </div>
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>&copy; 2019 Instituto Federal de Rondônia - Campus Ariquemes.</p>
            </div>
        </footer>                
    {% endblock %}